<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/app.css">
  <!-- endinject -->
</head>
<body ng-app="monkeyWrench" class="main-container">
  <div ng-controller="MainCtrl">
    <div class="row">
      <button ng-click="FetchScripts()" class="button-container">Fetch Scripts</button>
    </div>
    <div class="row">
      <select ng-model="selectedScript">
        <option ng-repeat="script in scriptList">{{script}}</option>
      </select>
    </div>
    <div class="row">
      <button ng-click="RunScript()" class="button-container">Run</button>
    </div>
  </div>
<script>window.jQuery = jQuery = require('../bower_components/jquery/dist/jquery.min.js')</script>
<!-- ext:js -->
<script src="../ext/CSInterface.js"></script>
<!-- endinject -->
<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="../bundle/bundle.js"></script>
<!-- endinject -->
<!-- node:js -->
<script src="server.js"></script>
<!-- endinject -->
</body>
</html>
